<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form method="POST" action="/posts">
        <input type="text" placeholder="Enter your username" name="username"><br>
        <input type="text" placeholder="Enter image url" name="imgUrl"><br>
        <textarea name="content" id="content" placeholder="What's on your mind today?"></textarea>
        <button>Add Post</button>
    </form>
</body>
</html>