body{
    background-color: #121212;
    color:aliceblue
}

.post{
    border:2px solid white;
    color:white;
    width:50%;
    max-height: 600px;
    padding:6px;
    border-radius:25px;
    margin:auto auto 20px auto;
    font-size: 20px;
    background-color: #212121;
    transition-duration: 200ms;
    position:relative;
    overflow:hidden;
    
    

}
.post:hover{
    box-shadow:0px 0px 15px white;
}

.disp{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.image{
    height: 40%;
    width:100%;
    /* border:2px solid #212121; */
    margin:auto;
    /* border:2px solid black; */
}

.user{
    margin-bottom:30px;
    font-size:30px;
    font-size:1.75rem;
}
/* .caption{
    overflow-y:auto;
    
} */

.add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* padding: 10px 20px; */
    background-color: black; /* Green background color */
    color: white; /* White text color */
    border: 2px solid white; /* Remove border */
    height:50px;
    text-align: center;
    width:50px;
    border-radius: 50%; 
    cursor: pointer; /* Add a pointer cursor on hover */
}


.add:hover {
    background-color: #45a049;
}

.signup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    /* padding: 10px 20px; */
    background-color: black; /* Green background color */
    color: white; /* White text color */
    border: 2px solid white; /* Remove border */
    height:50px;
    text-align: center;
    width:50px;
    border-radius: 50%; 
    cursor: pointer; 
}


.signup:hover {
    background-color: #45a049;
}

.utility{
    position:absolute;
    /* min-width: 85px; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    top:15px;
    right:20px;
}

@media (max-width: 768px) {
    .utility {
        top: 40px; /* Remove fixed top position */
        /*bottom: 15px; /* Set bottom position */
        right: 15px; /* Adjust right position */
    }
}

/* .edit_button{
    position:absolute;
    top:10px;
    right:10px;
} */
.edit_icon{
    height:20px;
    width:20px;
}

/* .delete_button{
    position: absolute;
    top:10px;
    right:50px;
} */
.delete_icon{
    height:20px;
    width:20px;
    margin-left:10px;
}
#deleteForm{
    display: inline-block;
}
#editForm{
    display:inline-block;
}
.post.expanded{
    max-height: none;
}

